html,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Setting font size of H*/
h1{
	font-size: 30px;
}

.btn-dark{
	background: #eebd33!important;
	border: 1px solid #eebd33!important;
}
/*setting navbar background*/
.navbar{
	     background: #2d3333;
}
/* setting nave bar font size and colour*/
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 20px;
}
/* setting show case background with img*/
.Showcase{
	background: url('../images/banner-2.webp');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	position: relative;
}
/*positioning the overlay and setting background colour*/
.overlay{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0.7;
}
/* setting the stack level order on the z axis to 1*/
.showcase-content{
	z-index: 1;
}
/* positioning my main headin in the show case*/
.main_heading{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
/* styling my H1 text*/
.main_heading h1{
	font-size: 56px;
	font-weight: bold;
   color:#eebd33;
}
.main_heading p{
	font-size: 30px;
	font-weight: bold;
    color: #fff;
}
/* setting form span to display in block*/
.contact-form span {
    display: block;
    margin-bottom: 20px;
    color: red;
}

.dogs{
	margin-top: 100px;
}
.pets-row{
	margin-top: 100px;
}
.pets-row img{
	height: 240px;
	transition: 0.3s;
}
.pets-row img:hover{
	transform: scale(1.1);
}
/*setting the contact h1 margin to 100px*/
.contact h1{
	margin-top: 100px;
}
.contact .form-control{
	margin-bottom: 20px;
	border: 1px solid #000;
}
/*setting footer margin and padding*/
footer{
	margin-top: 50px;
	padding: 20px 0;
}
/* setting P tag colour in footing*/
footer p{
	color: #eebd33;
}