/*heres my style sheet*/
body {
  background-color: white;
}


/* here is the border around my first heading on the website, it is connected via a link in the html file*/
p {
      border: 2px solid black;
        padding: 30px;
}
p {
      color: red;
}

.nav-wrapper {
  width: 100%;
}

/*.main{
  background: url(./imgs/pets2.jpeg)no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 30%;
  width: 145%;
}
